html, body {
  margin:0;
  padding:0;
}

@property --scrollYProp {
  syntax: "<number>";
  initial-value: 0;
  inherits: false
}

@property --scrollXProp {
  syntax: "<number>";
  initial-value: 0;
  inherits: false
}

#scroll_container_x, #scroll_container_y {
  height:200px;
  width:200px;
  overflow:scroll;
}

#scroll_container_x {
  scroll-timeline: --scrollXTimeline x;
}

#scroll_container_y {
  scroll-timeline: --scrollYTimeline y;
}

#scroll_contents {
  height: 1000px;
  width:1000px;
  background: repeating-linear-gradient(45deg,
      #606dbc,
      #606dbc 10px,
      #465298 10px,
      #465298 20px);
}

#dummy_x, #dummy_y {
  width:100px;
  height:100px;
  background-color: green;
  position:fixed;
}

#dummy_x {
  left:100px;
  animation-name: testAnimationX;
  animation-timeline: --scrollXTimeline;
  top:calc(var(--scrollXProp) * 100px);
}

@keyframes testAnimationX {
  from {
    --scrollXProp: 0;
    /*background-color:aqua;*/
  }

  to {
    --scrollXProp: 1;
    /*background-color:red;*/
  }
}

#dummy_y {
  left:200px;
  animation-name: testAnimationY;
  animation-timeline: --scrollYTimeline;
  left:calc(var(--scrollYProp) * 100px);
}

@keyframes testAnimationY {
  from {
    --scrollYProp: 0;
    /*background-color:aqua;*/
  }

  to {
    --scrollYProp: 1;
    /*background-color:red;*/
  }
}

#square {
  /*animation-timeline: --scrollYTimeline;
  animation-duration: 1ms; /* Firefox requires this to apply the animation */

  background-color: deeppink;
  /*transform:rotate(calc((var(--scrollXProp) + var(--scrollYProp)) * 100deg ));*/
  /*transform:rotate(calc(var(--scrollYProp) * 100deg ));*/
  left: calc(var(--scrollYProp) * 100px);
  width: 100px;
  height: 100px;
  position:fixed;
}
