html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  timeline-scope: --scrollXTimeline, --scrollYTimeline;
}

@property --sY {
  syntax: "<number>";
  initial-value: 0;
  inherits: false
}

@property --sX {
  syntax: "<number>";
  initial-value: 0;
  inherits: false
}

#scroll_container {
  height: 100%;
  width: 100%;
  overflow: scroll;
  scroll-timeline: --scrollXTimeline x, --scrollYTimeline y;
}

#scroll_contents {
  height: 300%;
  width: 300%;
  background: repeating-linear-gradient(45deg,
      #606dbc,
      #606dbc 10px,
      #465298 10px,
      #465298 20px);
}

@keyframes scrollYAnimation {
  from {
    --sY: 0;
  }

  to {
    --sY: 1;
  }
}

@keyframes scrollXAnimation {
  from {
    --sX: 0;
  }

  to {
    --sX: 1;
  }
}

#square {
  animation-name: scrollXAnimation, scrollYAnimation;
  animation-timeline: --scrollXTimeline, --scrollYTimeline;
  background-color: deeppink;
  transform: rotate(calc(( var(--sY) + var(--sX)) * 100deg));
  pointer-events: none;

  width: 100px;
  height: 100px;
  position: fixed;
}